.form-control {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0.75rem;
    transition: all 0.2s;
}

.form-control input {
    outline: none;
    background: white;
    border: 1px grey solid;
    border-radius: 8px;
    padding-left: 0.6rem;
    height: 35px;
    transition: all 0.2s;
}

.form-control label {
    margin-bottom: 0.25rem;
    font-size: large;
    color: white;
}

.form-control small {
    margin-left: 0.6rem;
    margin-top: 0.25rem;
    color: rgb(175, 175, 175);
}

.form-control input:hover {
    border-color: rgb(165, 165, 255);
}

.form-control input:focus {
    background: rgb(241, 241, 255);
    border-color: rgb(63, 63, 255);
}

.form-control.invalid label {
    color: rgb(255, 167, 167);
}

.form-control.invalid input {
    background: rgb(255, 210, 210);
    border-color: rgb(255, 55, 95);
}

.form-control.left input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.input-bar button {
    margin: 0;
    height: 100%;
    width: 20%;
    padding: 0;
}

.input-bar input {
    width: 80%;
}