.timezone {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.timezone select {
    height: 40px;
    border: 1px grey solid;
    border-radius: 8px;
}

.timezone select:focus {
    outline: none;
}