.box {
    box-shadow: -1px -5px 5px rgba(41, 41, 41, 0.301);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90vw;
    height: 10vh;
    background: rgb(104, 104, 104);
    border: rgb(104, 104, 104) 1px solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box button {
    width: 98%;
    height: 100%;
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}