.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: rgb(104, 104, 104);
    border: 1px rgb(104, 104, 104) solid;
    border-radius: 10px;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.466);
    padding: 1rem;
}