.form-control {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0.75rem;
    transition: all 0.2s;
}

.form-control input {
    outline: none;
    background: white;
    border: 1px grey solid;
    border-radius: 8px;
    padding-left: 0.6rem;
    height: 35px;
    width: 100%;
}

.form-control label {
    margin-bottom: 0.25rem;
    color: white;
}

.form-control small {
    margin-left: 0.6rem;
    margin-top: 0.25rem;
    color: rgb(175, 175, 175);
}

.form-control input:hover {
    border-color: rgb(165, 165, 255);
}

.form-control input:focus {
    background: rgb(217, 217, 255);
    border: rgb(63, 63, 255);
}

.form-control.invalid label {
    color: rgb(168, 0, 0);
}

.form-control.invalid input {
    background: rgb(255, 210, 210);
    border-color: rgb(255, 97, 97);
}