.list-item {
    display: flex;
    flex-direction: column;
    border: 1px white solid;
    background: white;
    border-radius: 15px;
    color: black;
    padding: 0.5rem 0 0.5rem 0;
    transition: all 0.2s;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: x-large;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.list-item:hover {
    cursor: pointer;
}

.list-item p {
    margin: 0;
    padding: 0;
}

.list-item small {
    font-size: small;
    margin: 0;
    padding: 0;
}

.warning {
    border-color: rgb(255, 159, 10);
    background: rgb(255, 159, 10);
}