.list-item {
    border: 1px white solid;
    background: white;
    border-radius: 15px;
    color: black;
    padding: 1.25rem 0 1.25rem 0;
    transition: all 0.2s;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: xx-large;
}

.list-item:hover {
    border: 1px rgb(165, 165, 255) solid;
    cursor: pointer;
}

.list-item p {
    margin: 0;
}